*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.outbreak{
	position: relative;
	width: 100%;
}
.myslide{
	height: 630px;
	display: none;
	overflow: hidden;
}

.outbreak .prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: black;
	transition: 0.1s;
	user-select: none;
}
.outbreak .prev:hover, .next:hover{
	color: #2c3e50;
}
.outbreak .next{
	right: 0;
}
.outbreak .dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 0px;
	cursor: pointer;
}
.outbreak .dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 3px solid black;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

/* javascript */
.active, .dot:hover{
	border-color: #2c3e50;
}
/* /javascript */

/* myslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /myslide add fade */

img{
	transform: scale(1, 1);
}
















